* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* custom properties */
:root {
    --light-gray: #8c9295;
    --gray: #575758;
}

body {
    height: calc(100vh - 150px);
    background-color: #dcdbd2;
}

#bg-up {
    height: 120px;
    background-color: #009688;
    padding-top: 30px;
}

.container {
    width: 80%;
    margin: 0 auto 30px;
    height: calc(100vh - 60px);
    display: flex;
}

/* PARTE DESTRA chat */
.cont-right {
    width: calc((100% / 3) * 2);
}

.banner,
.send {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    background-color: #eaeaea;
}

.send {
    background-color: #f3eeea;
}

.content {
    height: calc(100% - 120px);
    background-image: url("../img/HD-wallpaper-whatsapp-ma-doodle-pattern-thumbnail.jpg");
}

/* parte banner destra */
.user,
.settings {
    width: 50%;
}

.user {
    display: flex;
    align-items: center;
}

.icon {
    height: 50px;
    width: 50px;
    margin: 5px 15px 5px 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.username {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--gray);
}

.last-access {
    font-size: 10px;
    color: var(--light-gray);
}

.settings {
    text-align: right;
    margin-right: 25px;
}

.settings .fa-solid {
    margin-left: 18px;
    font-size: 20px;
    color: var(--light-gray);
}

/* parte contenuto messaggi */
.content {
    padding: 20px 0;
    overflow-y: auto;
}

.message {
    width: 300px;
    padding: 15px 10px;
    font-size: 12px;
    color: var(--gray);
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
}

.sent {
    background-color: #d5f9ba;
    margin-right: 50px;
    margin-left: calc(100% - 350px);
}

.rec {
    background-color: white;
    margin-left: 50px;
}

.hour {
    position: absolute;
    right: 8px;
    bottom: 5px;
    font-size: 10px;
    color: var(--light-gray);
}


/* parte invio messaggio destra */
.send i {
    font-size: 20px;
    margin: 0 30px;
    color: var(--light-gray);
}

.send .my-text {
    height: 35px;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


/* PARTE SINISTRA chat */
.cont-left {
    width: calc((100% / 3) * 1);
    background-color: white;
}

/* parte banner sinistro */
.cont-left .my-user {
    border-right: solid 1px rgb(201, 200, 200);
}

/* banner notifiche */
.notif {
    background-color: #8edafc;
    width: 100%;
}

.notif-ok {
    width: 80%;
}

.notif .icon {
    padding-top: 5px;
}

.notif i {
    background-color: white;
    color: #8edafc;
    margin-left: 15px;
    padding: 12px 10px;
    border-radius: 50%;
}

.notif-ok .last-access {
    text-decoration: underline;
}

/* barra ricerca */
.search {
    background-color: #fafafa;
    color: var(--light-gray); 
    padding: 10px;  
    height: 50px;
}

.search-bar {
    display: flex;
    border: 1px solid rgb(201, 200, 200);
}

.search-icon {
    background-color: white;
    padding: 5px 20px;
}

.search-icon .fa-solid {
    color: var(--light-gray);
}

.search input {
    border: none;
    width: 100%;
    padding: 0 5px;
}

/* parte chat */ 
.cont-chat {
    overflow-y: auto;
    height: calc(100% - 170px);
}

.chat {
    border-bottom: solid 1px rgb(230, 230, 230);
    background-color: white;
}

.chat .user {
    width: 100%;
    border: none;
    position: relative;
}

.chat .hour {
    top: 10px;
}

.active {
    background-color: #eaeaea;
}